.main-container {
    padding: 15px;
}

.popover {
    max-width: 306.6px;
    border-radius: 6px;
    border:none;
    box-shadow: 0 0 3px 0.5px #b6bdc4;
    top: 7px !important;
}

.popover-body {
    border: none;
    padding: 20px 35px 20px 35px;
    color: #2f333b;
    font-size: 13px;
    font-style: italic;
    z-index: 2;
    line-height: 1.53;
    letter-spacing: 0.1px;
}

.modal {
    top: 30%;
}

.body {
    top: -20px;
    right: 30px;
}